


.flex {
  display: flex;
  flex-wrap: wrap;
}

.shopping-card {
  justify-content: space-between;
  background-color:black;
  padding: 20px 30px;
  color: aliceblue;
}

.product-item {
  padding: 20px;}